/* Alot of my CSS layout, and ideas for class/id names, come from the Resume mini project */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');

/*--------------------------------------------Colors*/

.bg-color-welcome {
    background-color: #d4a7ba;
}

.ui-menu-color {
    background-color: #d4a7ba;
}

.bg-color-nav {
    background-color: #d4a7ba;
}

#nav li a {
    color: #6d7573;
}

.bg-color-about-me {
    background-color: #fafafa;
}

/*--------------------------------special paddings/margin/text*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    margin-top: 60px;
    font-family: "Dancing Script", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #6d7573;
}

.inline-block {
    display: inline-block;
}

.comp-therapies h1 {
    font-family: "Shippori Mincho B1", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*--------------------------------header*/

header {
    margin: 0;
}

.heading {
    text-align: center;
}

.logo {
    background: url(../images/thehealingholly.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    background-color: #d4a7ba;
}

.welcome {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin-top: 90px;
    color: #6d7573;
}

.tagline {
    font-family: "Dancing Script", sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    color: #6d7573;
}

#nav {
    margin-bottom: 25px;
}

#nav li {
    margin-top: 40px;
    font-family: "Dancing Script", sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #6d7573;
    padding: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

/*--------------------------------footer*/

footer {
    background-color: #d4a7ba;
    color: #6d7573;
    min-height: 120px;
    margin: 0;
}

.contact-info {
    font-family: "Shippori Mincho B1", sans-serif;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #6d7573;
    background: #d4a7ba;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #abccb8;
}

#footer-details {
    padding: 20px;
}

/*--------------------------------about section*/

.hero {
    background: url(../images/crystalhealing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    margin: 0 -15px 0 -15px;
    padding: 0;
}

